
@import url('theme.css');

* { 
    /* Default value */
    font-family: var( --default-font);
    font-size: 12px;
    font-weight: 300;
    font-weight: var(--default-font-weight);
    font-size: var(--default-font-size);
    color: var(--primary-color);
    /* NOTE (WORKAROUND FOUND) setting default color fucks up; buttonicon, closeicon, and preview display text */
}


/* Not in use */
h1 {/* Designated logo font */
    font-family: var(--logo-font);
    font-size: 14px;
}

h2 {
    height: 100%;
    display: flex;
    align-items: end;
    margin: 0px;

    font-weight: var(--default-font-weight);
    font-size: 14px;
}

h2.dark{
    color: var(--secondary-color);
}

h3 {
    font-size: 16px;
    color: var(--button-color);
    font-weight: var(--h3-font-weight);
}

