
@import url('theme.css');

* { 
    /* Default value */
    font-family: var( --default-font);
    font-weight: var(--default-font-weight);
    font-size: var(--default-font-size);
    color: var(--primary-color);
}

/* Not in use */
h1 {/* Designated logo font */
    font-family: var(--logo-font);
    font-size: var(--h1-font-size);
    font-weight: var(--h1-font-weight);
}

h2 {
    font-size: var(--h2-font-size);
    font-weight: var(--default-font-weight);
    
    margin: 0px;
}

h2.dark{
    color: var(--secondary-color);
}

h3 {
    color: var(--button-color);
    font-size: var(--h3-font-size);
    font-weight: var(--h3-font-weight);
}


