/* Color theme variables */
@import url('https://fonts.googleapis.com/css2?family=Archivo:wdth,wght@87.5,300&display=swap');

:root {

    /* Colors */
    --accent-color: #18bd67;
    --primary-color: #808080;
    --secondary-color: #d3d3d3;
    /* --secondary-color: #5c5c5c; */
    --button-text-color: #ffffff;
    --primary-background-color: #fafafa;
    --secondary-background-color: #f5f5f5;
    --shade-color: #1f2020;

    /* color variations  */
    --accent-color-light: #1aca6f;
    --accent-color-dark: #1aaa5f;

    /* font family */
    --logo-font: 'Archivo', sans-serif;
    --default-font: sans-serif;

    /* Font sizes */
    --default-font-size: 12px;
    --h1-font-size: 16px;       /*  <-- button font*/
    --h2-font-size: 14px;
    --h3-font-size: 12px;       /*  <-- button font*/

    /* Font weights */
    --default-font-weight: 300;
    --h1-font-weight: 400;
    --h2-font-weight: 300;
    --h3-font-weight: 300;

}
